<pre>
This Notebook is concerned towards cleaning and organising the Flair and the concerned FlairColour features of the concerned dataset.</pre>

In [156]:
import pandas as pd
import numpy as np

Df = pd.read_csv("NEW_DATA/MERGED_DATA.csv")

Df.head()

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
0,0,1.580498e+09,| Repost |,NaN,dark,1,0,"Economic Survey sources data from Wikipedia, o..."
1,1,1.580499e+09,| Low-effort Self Post |,NaN,dark,0,1,"How do you explain ""vaali"" ?[removed]"
2,2,1.580467e+09,Politics,#ddbd37,dark,12,140,"Despite Jamia Shooting, Amit Shah's Divisive R..."
3,3,1.580480e+09,CAA-NRC,NaN,dark,16,8,Youth of India: Voices of Reason or Pawns[remo...
4,4,1.580486e+09,Non-Political,#5093d6,dark,6,13,"Indian Student Variety AbroadSo, I am kinda fe..."

In [157]:
Df['flair'].fillna('Unverified', inplace = True)
Df['flair_colour'].fillna('#ea0027', inplace = True)

In [158]:
f_counts = Df['flair'].value_counts()
f_values = Df['flair'].unique()
fc_counts = Df['flair_colour'].value_counts()

In [159]:
fc_counts

#ea0027    25134
#ddbd37     9091
#5093d6     8308
#ab494b     6100
#ffb000     3611
#014980     1483
#304ffe      901
#ffbbda      551
#b8001f      451
#cc5289      217
#5a74cc        9
#ff4500        7
Name: flair_colour, dtype: int64

In [160]:
Df[Df['flair'] == 'Politics'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
2,2,1.580467e+09,Politics,#ddbd37,dark,12,140,"Despite Jamia Shooting, Amit Shah's Divisive R..."

In [161]:
Df[Df['flair_colour'] == '#5093d6'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
4,4,1.580486e+09,Non-Political,#5093d6,dark,6,13,"Indian Student Variety AbroadSo, I am kinda fe..."

In [162]:
Df[Df['flair_colour'] == '#ab494b'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
12,12,1.580465e+09,AskIndia,#ab494b,light,9,0,If Islam is alike all other religion and not a...

In [163]:
Df[Df['flair_colour'] == '#ffb000'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
7,7,1.580460e+09,Business/Finance,#ffb000,dark,0,1,wickedweirdo.com is on sale

In [164]:
Df[Df['flair_colour'] == '#014980'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
9,9,1.580463e+09,Science/Technology,#014980,light,0,1,How to FIX Tripod Ball Head issue in Urdu/Hindi

In [165]:
Df[Df['flair_colour'] == '#304ffe'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
31,31,1.580494e+09,Photography,#304ffe,light,0,1,Mark Dohner new song!

In [166]:
Df[Df['flair_colour'] == '#ffbbda'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
119,119,1.580465e+09,Sports,#ffbbda,dark,0,1,How Did Cricket Start In India?

In [167]:
Df[Df['flair_colour'] == '#b8001f'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
348,348,1.580433e+09,Food,#b8001f,light,0,1,Bitter Gourd Fried Salad - Village Food Prepar...

In [168]:
Df[Df['flair_colour'] == '#cc5289'].head(1)

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
602,602,1.580386e+09,Scheduled,#cc5289,light,0,1,Mndfull(mess)[deleted]

In [169]:
df_list = Df.values.tolist()

In [170]:
for row in df_list:
    if(f_counts[row[2]] < 300):
        row[2] = "Unverified"
    if(row[2] == '| Not specific to India |'):
        row[2] = "Unverified"
    if(row[2] == '| Unverified Content / Disreputed Source |'):
        row[2] = "Unverified"
    if(row[2] == '| Personal/Unverified Social Media |'):
        row[2] = "Unverified"
    if(row[2] == '| Not in English |'):
        row[2] = "Unverified"
    if(row[2] == '| Low-effort Self Post |'):
        row[2] = "Unverified"
    if(row[2] == '| Not Original/Relevant Title |'):
        row[2] = "Unverified"
    
    if(row[2] == 'Politics'):
        row[3] = "#ddbd37"
    if(row[2] == 'Non-Political'):
        row[3] = "#5093d6"
    if(row[2] == 'Scheduled'):
        row[3] = "#cc5289"
    if(row[2] == 'Food'):
        row[3] = "#b8001f"
    if(row[2] == 'Sports'):
        row[3] = "#ffbbda"
    if(row[2] == 'Photography'):
        row[3] = "#304ffe"
    if(row[2] == 'Science/Technology'):
        row[3] = "#014980"
    if(row[2] == 'Business/Finance'):
        row[3] = "#ffb000"
    if(row[2] == 'AskIndia'):
        row[3] = "#ab494b"
#     if(row[2] == 'CAA-NRC'):
#         row[3] = "#ab491b"
#     if(row[2] == '| Repost |'):
#         row[3] = "#ab492b"
#     if(row[2] == '| Social Media Rules |'):
#         row[3] = "#ab492b"
#     if(row[2] == 'Policy/Economy'):
#         row[3] = "#ab474b"
#     if(row[2] == 'Coronavirus'):
#         row[3] = "#ab484b"
#     if(row[2] == 'Low Quality/Non OC Meme'):
#         row[3] = "#ac484b"
#     if(row[2] == 'All CAPS.'):
#         row[3] = "#ab484f"
#     if(row[2] == 'Unverified'):
#         row[3] = "#ea0027"
#     to update the respective colours for specific posts
    
#     print(row[2])

In [171]:
NewDF = pd.DataFrame(df_list, columns = ['Unnamed: 0', 'created_utc', 'flair', 'flair_colour',
       'flair_text_colour', 'num_comments', 'score', 'text'])

In [172]:
NewDF.head()

,Unnamed: 0,created_utc,flair,flair_colour,flair_text_colour,num_comments,score,text
0,0,1.580498e+09,| Repost |,#ea0027,dark,1,0,"Economic Survey sources data from Wikipedia, o..."
1,1,1.580499e+09,Unverified,#ea0027,dark,0,1,"How do you explain ""vaali"" ?[removed]"
2,2,1.580467e+09,Politics,#ddbd37,dark,12,140,"Despite Jamia Shooting, Amit Shah's Divisive R..."
3,3,1.580480e+09,CAA-NRC,#ea0027,dark,16,8,Youth of India: Voices of Reason or Pawns[remo...
4,4,1.580486e+09,Non-Political,#5093d6,dark,6,13,"Indian Student Variety AbroadSo, I am kinda fe..."

In [173]:
NewDF = NewDF.drop('Unnamed: 0', axis = 1)

In [174]:
NewDF['flair'].value_counts()

Unverified                 16098
Politics                   10438
Non-Political               8362
AskIndia                    6111
Coronavirus                 3968
Policy/Economy              1985
Business/Finance            1736
Science/Technology          1482
| Repost |                  1305
Photography                  900
CAA-NRC                      756
Sports                       550
Low Quality/Non OC Meme      541
Food                         451
Scheduled                    417
All CAPS.                    395
| Social Media Rules |       368
Name: flair, dtype: int64

In [175]:
NewDF['flair_colour'].value_counts()

#ea0027    23485
#ddbd37    10449
#5093d6     8375
#ab494b     6121
#ffb000     3611
#014980     1483
#304ffe      901
#ffbbda      551
#b8001f      451
#cc5289      420
#5a74cc        9
#ff4500        7
Name: flair_colour, dtype: int64